* {margin:0;padding:0;box-sizing:border-box;}

body {
  color:#333;
  font-family: arial, Helvetica, sans-serif;
  font-weight: bold;
}
section {
  padding:4em 0;
}
header {
  background: #333;
}
p {
  font-size:22px;
}
h1 {
  font-weight: bold;
  font-size: 70px;
  text-shadow: 1px 1px 3px rgba(0,0,0,.25);
}
h2, h3 {
  color: #FF48C3;
}
ul {
	padding-left:1.25em;
}

#articleheader {
	background: url("../images/stars.jpg");
	background-size: cover;
	background-repeat:no-repeat;
	color: #fff;
	height: 80vh;
}
#articles {width: 1200px;margin: auto;}
.column2 {
  width: 50%;
  float:left;
  padding: 2em;
}

.column2 p {
  font-size: 14px; 
}

.column2 h3 { 
}

.column2 nav{
  margin-top: 15px;
}

.column3 {
  width: 33.33%;
  float: left;
  padding: 20px;
}

.column3 p {
  font-size: 14px; 
}

#article2 h2{
padding-left: 20px;
}

#article2 {padding-top: 30px;}

footer p { 
  text-align: center;
  font-size: 18px;
  padding: 20px 20px 0px 20px;
}

footer { 
  margin-bottom:20px;
}
.clearfix:after {
  content: "";
  clear:both;
  display:block;
}
